@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #1A1A1A;
    font-family: "Yu Gothic","YuGothic","Roboto","Helvetica Neue","Hiragino Kaku Gothic Pro","Meiryo","Arial","sans-serif";
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}



/*header*/

.header_wrap{
    margin: 0 auto;
    position: absolute;
    top: 50px;
    width: 100%;
}

.header{
    max-width: 1070px;
    margin: 0 auto;
}

.header_text p{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1.75;
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.fastview img{
    max-width: 1070px;
    height: auto;
    margin-bottom: 165px;
    
    
}

.fastview_nav{
    width: 20%;
    padding-left: 45px;
    position: relative;

}

.fastview_nav ul{
    position: absolute;
    top: 50%;
}



.fastview_nav li{

    font-size: 20px;
    color: #1A1A1A;
    line-height: 1.888;
    font-family: sofia-pro, sans-serif;
    font-weight: 500;
    font-style: normal;

}

.fastview_nav a{
    display: block;/*アンカーの幅を広げる*/
}

.fastview_contents{
    display: flex;
    
    max-width: 1200px;
    margin: 0 auto;
    

}

.contact_link p{
    padding-top: 20px;
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #A95045;
}


/*メインテキスト*/

.main_title{
    max-width: 850px;
    margin: 0 auto;
    padding-left: 20px;
}

.main_text{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px;
    line-height: 1.8;
}

.sub_text{
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.7;
    margin-bottom: 180px;
}

/* スクロール */
.main_title a {
    display: inline-block;
    position: absolute;
    right: 40px;
    z-index: 2;
    padding: 10px 10px 110px;
    margin-right: 215px;
    overflow: hidden;
    color: #1A1A1A;
    font-size: 20px;
    font-family: sofia-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1;
    letter-spacing: .2em;
    text-decoration: none;
    writing-mode: vertical-lr;
}
.main_title a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 100px;
    background: #1A1A1A;
    
}

.main_title a::after {
    animation: sdl 2s cubic-bezier(1, 0, 0, 1) infinite;
}
@keyframes sdl {
    0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
    }
    30% {
    transform: scale(1, 1);
    transform-origin: 0 0;
    }
    70% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
    }
    100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
    }
}



/*service*/

.service{
    max-width: 850px;
    margin: 0 auto;
}

.service_contents{
    display: flex;
    justify-content: space-between;
    margin-bottom: 170px;

}

.service h2{
    width: 166px;
    margin-bottom: 65px;
}


.design{
    display: flex;
    align-items: center;
    
}

.design_icon_pc img{
    width: 80px;
    margin-right: 25px;
    
}

.design_icon_sf img{
    display: none;
}

.line img{
    height: 135px;
    margin-right: 10px;
    
}

.design_text p{
    font-size: 15px;
    width: 250px;
    line-height: 1.8;
    margin-left: 25px;
}

.coding{
    display: flex;
    align-items: center;
}

.coding_icon_pc img{
    width: 80px;
    margin-right: 25px;
    
}

.coding_icon_sf img{
    display: none;
}


.coding_text p{
    font-size: 15px;
    width: 250px;
    line-height: 1.8;
    margin-left: 25px;
    
}

.service_contents .title{
    font-weight: bold;
    font-size: 20px;
    line-height: 1.75;

}

/*works*/

.works_logo{
    display: flex;
    justify-content: center;
    height: 41px;
    margin-bottom: 40px;
    

}

.works_slider{
    display: flex;
    justify-content: center;
    margin-bottom: 215px;
}

.works_contents{
    align-self: center;
    margin: 0 0 0 55px;
    padding: 26px 40px 0 0;
    height: 180px;
    width: 276px;
    position: relative;
    z-index: -1;
}

.works_contents .category{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.73;
    background: #CCCCCC;
    font-family: sofia-pro, sans-serif;
    font-weight: 500;
    font-style: normal;


}

.works_contents .technology{
    margin-top: 12px;
    font-size: 15px;
    line-height: 1.73;
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;

}

.works_contents .corporation{
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 30px;
    line-height: 0.733;
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;

}

.works_return{
    position: absolute;
    right: 230px;
}

.works_next{
    position: absolute;
    right: 150px;
}



/*about*/


.about_logo_sf{
    display: none;
}

.about_img{
    width: 330px;
}

.about_me h2{
    width: 138px;
    height: 42px;
    margin-bottom: 60px;
}

.about_me{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 850px;

}



.about_text{
    width: 50%;
}

.about_title{
    font-size: 25px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 30px;
}

.about_main{
    font-size: 15px;
    line-height: 1.4;
    width: 335px;
}

.about_more{
    text-align: center;
    display: inline-block;


    border-color: #1A1A1A;
    border: 1px solid;

    width: 120px;
    margin: 20px auto;
    display: block;
    padding:30px 60px;
    margin-top: 110px;
    margin-bottom: 215px;

}

.about_more p{
    font-size: 20px;
    font-family: sofia-pro, sans-serif;
    font-weight: 500;
    font-style: normal;

}

/* contact */

.contact{
    display: flex;
    justify-content: flex-end;
    max-width: 1365px;
    margin: 0 auto;
    width: 100%;

}

.contact_box{
    position: relative;
    /* z-index: -1; */
    margin-bottom: 155px;
}

.contact_logo{
    width: 175px;
    position: absolute;
    top: 80px;
    left: 130px;
}

.contact_main{
    position: absolute;
    top: 160px;
    left: 130px;
}

.contact_text{
    font-size: 18px;
    color: #FFF;
    line-height: 1.66;

}

.contact_more{
    position: absolute;
    top: 234px;
    left: 435px;
    text-align: center;
    display: inline-block;
    border: 1px solid;
    color: #FFF;
    width: 120px;
    display: block;
    padding:30px 60px;
}

.contact_more p{
    color: #FFF;
    font-size: 20px;
}

/* .contact_link{ */
    /* position: relative; */



/* footer */


.footer_nav ul{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 40px;
    max-width: 1080px;
    margin: 0 auto;

}


.footer_nav li{
    font-size: 20px;
    font-family: sofia-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 0 15px;
    

}

.footer_border{
    border-top: 1px solid #1A1A1A;
    width: 1290px;
    margin: 0 auto;
    box-sizing: border-box;
}

.footer_end{
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    align-items: center;
    margin: 0 auto; 
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer_end p{
    font-size: 16px;
    font-family: sofia-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.footer_end img{
    width: 36px;
    height: 36px;
}

.topbtn_sf{
    display: none;

}



/* ハンバーガーメニュー */

.toppage{
    margin-top: 50px;
    margin-left: 50px;
}

.toppage_text{
    margin-bottom: 250px;
}

.toppage_text p{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1.75;
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.toppage img{
    width: 176px;
}

.hamburger_nav_inner{
    display: none;
    z-index: 50;
}

.hamburger_nav_inner li p{
    padding-top: 20px;
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFF;
    margin: 5px 0px 60px;
    font-size: 20px;
    letter-spacing: 0.05em;

}

.hamburger_nav_inner li img{
    height: 40px;
}

.hamburger_btn{
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    height: 30px;
    z-index: 100;
    transition-duration: .8s;

}

.hamburger_btn.fixed{
    position: fixed;
    top: 50px;
    left: auto;
    z-index: +1;
}

.hamburger_btn.fixed.none {
    opacity: 0;
    z-index: -1;
}

.hamburger_btn span{
    background: #1A1A1A;
    display: block;
    width: 33px;
    height: 3px;
    position: relative;
    top: 10px;
    transition: 0.3s;
    
}

.hamburger_btn span::before,
.hamburger_btn span::after {
    content: '';
    background: #1A1A1A;
    display: block;
    width: 33px;
    height: 3px;
    position: absolute;
    transition: 0.3s;
}

.hamburger_btn span::before{
    bottom: 10px;
}

.hamburger_btn span::after{
    top: 10px;
}

/* open時 */

.open span{
    background: transparent;
    
}


.open span::before{
    bottom: 0px;
    transform: rotate(45deg);
    background: #FFF;
}

.open span::after{
    transform: rotate(135deg);
    background: #FFF;
    top: 0px
    
}

.hamburger_nav_inner{
    position: absolute;
    position: fixed;
    overflow-y: scroll; 
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
}

.hamburger_nav_inner ul{
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hamburger_nav_inner ul li{
    padding: 20px;
    color: #FFF;
    font-size: 18px;
    text-align: center;
}



@media screen and (max-width:767px){

    .header_wrap{
        top: 30px;
        left: 30px;
    }

    .header img{
        width: 135px;
    }
    .header_text p{
        font-size: 14px;
    }



    /* PC用ナビゲーションを消す */

    .fastview_nav{
        display: none;
    }

    .fastview img{
        width: 100%;
        margin-bottom: 70px;
    }

    /* スクロールダウンを消す */
    .main_title a{
        display: none;
    }

    .main_title{
        padding: 0px 25px;
    }


    .main_text{
        font-size: 4.533vw;
        margin-bottom: 35px;
        letter-spacing: 0.027em;
    }

    .sub_text{
        font-size: 3.733vw;
        margin-bottom: 80px;
        line-height: 1.785;
    }

    .sub_text br{
        display: none;
    }

    /* サービスの内容を縦並びにする */
    .service_contents{
        display: block;
        margin-bottom: 105px;
        
    }

    /* サーピスロゴを中央揃え */
    .service_logo{
        margin: 0px auto;
    }

    .line img{
        height: 100px;
    }

    /* pc版imgを消す */
    .design_icon_pc img{
        display: none;
    }

    .design_icon_sf img{
        display: block;
        width: 80px;
        margin: 0 auto 30px;
    }

    /* 説明文を中央揃え */
    .design{
        justify-content: center;
        margin-bottom: 80px;
    }

    .design_text p{
        margin-left: 10px;
        font-size: 3.733vw;
    }

    .design_text .title{
        font-size: 5.333vw;
    }

    /* pc版imgを消す */
    .coding_icon_pc img{
        display: none;
    }

    .coding_icon_sf img{
        display: block;
        width: 80px;
        margin: 0 auto 30px;
    }

    .coding_text .title{
        font-size: 5.333vw;
    }

    .coding_text p{
        margin-left: 10px;
        font-size: 3.733vw;

    }

    /* 説明文を中央揃え */
    .coding{
        justify-content: center;
    }

    .works_slider{
        display: block;
    }
    
    /* 画面いっぱいに表示 */
    .works_slider img{
        width: 100%;
    }

    .works_slider{
        margin-bottom: 165px;
    }

    .works_return{
        width: 10px;
        top: 30px;
        right: 100px;
    }

    .works_next{
        width: 10px;
        top: 30px;
        right: 40px;

    }

    .about_me{
        display: block;
    }

    /* contact */

    .contact_box{
        margin-bottom: 100px;
    }

    .contact_more{
        top: 75%;
        left: 50%;
        transform: translate(-50%,-50%);

    }

    .contact_logo{
        top: 20%;
        left: 50%;
        transform: translate(-50%,-50%);

    }

    .contact_main{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }

    .contact_main br{
        display: none;
    }

    /* 著作権表示とSNS上下入れ替え */
    .footer_end{
        flex-direction: column-reverse;
        
    }

    .footer_end p{
        text-align: center;
        margin-bottom: 30px;

    }

    .footer_sns{
        margin-bottom: 30px;
    }

    .topbtn_sf{
        display: block;
        
    }

    .topbtn_sf .arrow2{
        width: 30px;
        height: 30px;
        border: 5px solid;
        border-color: #565656 #565656 transparent transparent;
        transform: rotate(-45deg);
        margin: 0 auto;
        
    }

    .about_logo_sf{
        display: block;
        width: 138px;
        margin: 0px auto 65px;
    }

    .about_me h2{
        display: none;
    }


    .about_img img{
        width: 259px
    }

    .about_text{
        margin: 0px auto 70px;
        width: 85%;
        font-size: 3.733vw;
        line-height: 1.64;
        font-feature-settings: "palt";
    }

    .about_main{
        width: 100%;
    }

    .about_more{
        margin-top: 0px;
        margin-bottom: 125px;
    }

    /* フッダーのラインを消す */
    .footer_border{
        display: none;
    }

    .footer_nav{
        display: none;
    }

    .hamburger_nav_inner li p{
        font-size: 3.733vw;
    }

    .toppage{
        margin-top: 25px;
        margin-left: 25px;
    }


}