@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #1A1A1A;
    font-family: "Yu Gothic","YuGothic","Roboto","Helvetica Neue","Hiragino Kaku Gothic Pro","Meiryo","Arial","sans-serif";
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}



/*header*/

.header_wrap{
    max-width: 1070px;
    margin: 0 auto;
    position: relative;

    /* position: absolute; */
    top: 160px;
}


.header_text p{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1.75;
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.fastview img{
    max-width: 1070px;
    height: auto;
    margin-bottom: 165px;
    
    
}

.fastview_nav{
    width: 20%;
    padding-left: 45px;
    position: relative;

}

.fastview_nav ul{
    position: absolute;
    top: 50%;
}



.fastview_nav li{

    font-size: 20px;
    color: #1A1A1A;
    line-height: 1.888;
    font-family: sofia-pro, sans-serif;
    font-weight: 500;
    font-style: normal;

}

.fastview_nav a{
    display: block;/*アンカーの幅を広げる*/
}

.fastview_contents{
    display: flex;
    
    max-width: 1200px;
    margin: 0 auto;
    

}

.contact_link p{
    padding-top: 20px;
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #A95045;
}


/*メインテキスト*/

.main_title{
    max-width: 850px;
    margin: 0 auto;
    padding-left: 20px;
}

.main_text{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px;
    line-height: 1.8;
}

.sub_text{
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.7;
    margin-bottom: 180px;
}

.main_title a {
    display: inline-block;
    position: absolute;
    right: 40px;
    z-index: 2;
    padding: 10px 10px 110px;
    margin-right: 215px;
    overflow: hidden;
    color: #1A1A1A;
    font-size: 20px;
    font-family: sofia-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1;
    letter-spacing: .2em;
    text-decoration: none;
    writing-mode: vertical-lr;
}
.main_title a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 100px;
    background: #1A1A1A;
    
}

.main_title a::after {
    animation: sdl 2s cubic-bezier(1, 0, 0, 1) infinite;
}
@keyframes sdl {
    0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
    }
    30% {
    transform: scale(1, 1);
    transform-origin: 0 0;
    }
    70% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
    }
    100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
    }
}



/*service*/

.service{
    max-width: 850px;
    margin: 0 auto;
}

.service_contents{
    display: flex;
    justify-content: space-between;
    margin-bottom: 170px;

}

.service h2{
    width: 166px;
    margin-bottom: 65px;
}


.design{
    display: flex;
    align-items: center;
    
}

.design_icon img{
    width: 80px;
    margin-right: 25px;
    
}

.line img{
    height: 135px;
    margin-right: 10px;
    
}

.design_text p{
    font-size: 15px;
    width: 250px;
    line-height: 1.8;
    margin-left: 25px;
}

.coding{
    display: flex;
    align-items: center;
}

.coding_icon img{
    width: 80px;
    margin-right: 25px;
    
}


.coding_text p{
    font-size: 15px;
    width: 250px;
    line-height: 1.8;
    margin-left: 25px;
    
}

.service_contents .title{
    font-weight: bold;
    font-size: 20px;
    line-height: 1.75;

}

/*works*/

.works_logo{
    display: flex;
    justify-content: center;
    height: 41px;
    margin-bottom: 40px;
    

}

.works_slider{
    display: flex;
    justify-content: center;
    margin-bottom: 215px;
}

.works_contents{
    align-self: center;
    margin: 0 0 0 55px;
    padding: 26px 40px 0 0;
    height: 180px;
    width: 276px;
    position: relative;
}

.works_contents .category{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.73;
    background: #CCCCCC;
    font-family: sofia-pro, sans-serif;
    font-weight: 500;
    font-style: normal;

}

.works_contents .technology{
    margin-top: 12px;
    font-size: 15px;
    line-height: 1.73;
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;

}

.works_contents .corporation{
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 30px;
    line-height: 0.733;
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;

}

.works_return{
    position: absolute;
    right: 230px;
}

.works_next{
    position: absolute;
    right: 150px;
}



/*about*/



.about_me h2{
    width: 138px;
    height: 42px;
    margin-bottom: 60px;
}

.about_me{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 850px;

}



.about_text{
    width: 50%;
}

.about_title{
    font-size: 25px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 30px;
}

.about_main{
    font-size: 15px;
    line-height: 1.4;
    width: 335px;
}

.about_more{
    text-align: center;
    display: inline-block;


    border-color: #1A1A1A;
    border: 1px solid;

    width: 120px;
    margin: 20px auto;
    display: block;
    padding:30px 60px;
    margin-top: 110px;
    margin-bottom: 215px;

}

.about_more p{
    font-size: 20px;
    font-family: sofia-pro, sans-serif;
    font-weight: 500;
    font-style: normal;

}

/* contact */

.contact_box{
    display: flex;
    justify-content: flex-end;

    position: relative
}

.contact_logo{
    position: absolute;
    left: 180px;
    top: 130px;
    width: 175px;
    height: 33px;
}

.contact_main{
    position: absolute;
    top: 200px;
    left: 180px
}

.contact_text{
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
}

.contact_link{
    position: absolute;
}